<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <add name="TaxAuditCommunity" connectionString="Server=NATHANAEL-PC;Database=TaxAuditCommunityDB;User Id=sa;Password=ns151232"/>
    <add name="Pervasive" connectionString="Server=TREVSERVER;Database=CPROEMP00;User Id=Master;Password=modqREva"/>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
  <appSettings>
    <add key="Path" value="D:\LixoTeste"/>
    <add key="PathProsoft" value="D:\PROEMP00"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection"/>
  </appSettings>
</configuration>